#skill_section {
  padding: 30px 150px 20px;
}
#skill_section .skill-tit {
  font-family: 'Quintessential', cursive;
  font-size: 30px;
  text-align: center;

  padding-bottom: 30px;
}
#skill_section .skill_block {
  display: flex;
  justify-content: space-between;
}
#skill_section .skill_block > div {
  width: 48%;
}

/* Skill Icons */
#skill_section .skill_block .skills {
  display: flex;
  flex-wrap: wrap;
}
#skill_section .skill_block .skills div {
  flex: 1 1 28%;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
#skill_section .skill_block .skills div:hover {
  border: 2px dotted rgb(155, 155, 155);
  border-radius: 15px;
}

/* Skill Description */
#skill_section .skill_block .skill_desc {
  padding: 20px 0;
}
#skill_section .skill_block .skill_desc h2 {
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Rowdies', cursive;
}
#skill_section .skill_block .skill_desc .descBlock {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
#skill_section .skill_block .skill_desc .descBlock p {
  padding-bottom: 10px;
}
