#footer {
  padding: 40px 0 50px;
  font-family: 'Quintessential', cursive;
}
#footer .tool,.rights {
  text-align: center;
}
#footer .rights {
  margin-bottom: 10px;
}
#footer .tool {
  color: #999;
}
