@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700&family=Quintessential&family=Rowdies:wght@300&display=swap");

/*
  font-family: 'Comforter', cursive;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Quintessential', cursive;
  font-family: 'Rowdies', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: #fff;
  border: none;
}
